.pswp__caption__center {
    text-align: left;
    max-width: 100%;
    margin: 0;
    font-size: 13px;
    padding: 10px;
    line-height: 1.2em;
    color: #fff;
    font-weight: normal;
    font-size: 1.15em;
}